<script lang="ts">
	import BackArrow from '../details/content/BackArrow.svelte';

	let screenWidth: number;

	const backArrowEnabled =
		localStorage.getItem('backarrow') == null || localStorage.getItem('backarrow') == 'true';
</script>

{#if (screenWidth > 640 && backArrowEnabled) || (document.body.scrollHeight > document.body.clientHeight && backArrowEnabled)}
	<BackArrow />
{/if}

<div class="flex flex-col gap-2 p-2 bg-supplement rounded-2xl p-1 sm:w-8/12 w-full m-auto">
	<slot />
</div>

<svelte:window bind:innerWidth={screenWidth} />

{#if screenWidth < 640 && backArrowEnabled}
	<div class="mt-5" />
	<BackArrow />
{/if}
