<script lang="ts">
	import { getGradeColor } from '$lib/js/util/gradeColor';
	import Icon from '@iconify/svelte';

	export let title: string;
	export let description: string;
	export let read: boolean = false;
	export let icon = 'ic:baseline-message';
	export let grade: string | null = null;
	export let iconString = '';
	export let iconStringClasses: string[] = [];
	export let date: string;
	export let link: string;
</script>

<a
	href={link}
	data-sveltekit-preload-data="tap"
	class="flex p-1 justify-between items-center transition-all hover:bg-background rounded-xl cursor-pointer"
	class:text-description={read}
>
	<div class="flex items-center gap-3">
		{#if grade != null}
			<p class={`${getGradeColor(grade, 'text')} text-3xl font-bold text-center min-w-[30px]`}>
				{grade}
			</p>
		{:else if iconString == ''}
			<Icon {icon} class="text-3xl text-inherit min-w-[30px]" />
		{:else}
			<p class={iconStringClasses.join(' ')}>{iconString}</p>
		{/if}
		<div>
			<p class="sm:text-xl text-2xl text-inherit font-bold">{title}</p>
			<p class="text-sm text-description">{description}</p>
		</div>
	</div>
	<div>
		<p class="text-description text-center min-w-[100px]">{date}</p>
	</div>
</a>
