<script lang="ts">
	import Icon from '@iconify/svelte';

	export let callback: any;
	export let text = '';
	export let icon: any = null;
	export let extraClasses = '';
</script>

<button
	class={`flex items-center gap-1 hover:bg-secondary hover:text-alttext transition-all transition-300 text-alttext p-2 rounded-xl hover:rounded-2xl ${extraClasses}`}
	on:click={callback}><Icon class="text-xl" {icon} /> {text}</button
>
