<script lang="ts">
	export let title: string;
	export let description: string = '';
	export let hidden = false;

	let x = 0;
	let y = 0;

	document.addEventListener('mousemove', (e) => {
		x = e.clientX;
		y = e.clientY;
	});
</script>

<div
	{hidden}
	class={`absolute h-auto p-1 z-10 mt-5 rounded-md bg-supplement`}
	style={`left: ${x}px; top: ${y}px;`}
>
	<p class="font-bold">{title}</p>
	<p>{description}</p>
</div>
