<script lang="ts">
	import { afterNavigate, beforeNavigate, goto, onNavigate } from '$app/navigation';
	import { navigating } from '$app/stores';
	import Errors from '$lib/components/layout/Errors.svelte';
	import Header from '$lib/components/layout/Header.svelte';
	import RouteLoader from '$lib/components/layout/RouteLoader.svelte';
	import { isLoggedIn } from '$lib/js/auth/loggedIn';
	import { routeLoading } from '$lib/stores/route';

	function checkLogin() {
		if (!isLoggedIn() && window.location.pathname != '/login') {
			goto('/login');
		} else if (isLoggedIn() && window.location.pathname == '/login') {
			goto('/');
		}
	}

	checkLogin();

	onNavigate(() => {
		checkLogin();
	});

	beforeNavigate(() => {
		$routeLoading = true;
	});

	afterNavigate(() => {
		$routeLoading = false;
	});
</script>

<RouteLoader />
<Header />
<Errors />
<div class="h-full sm:mx-4 mx-2">
	<slot />
</div>
