<script lang="ts">
	import ThemeItem from './ThemeItem.svelte';
	import ThemeCategory from './ThemeCategory.svelte';

	const defaultTheme = 'light';

	const themeListLight = [{ name: 'Základní', value: 'light', untested: false }];
	const themeListDark = [{ name: 'Tmavá', value: 'dark', untested: false }];
</script>

<div class="theme-selector text-text">
	<ThemeCategory category="Světlé" />

	{#each themeListLight as theme}
		<ThemeItem {theme} {defaultTheme} />
	{/each}

	<ThemeCategory category="Tmavé" />

	{#each themeListDark as theme}
		<ThemeItem {theme} {defaultTheme} />
	{/each}
</div>
