<script lang="ts">
	import { setTheme } from '$lib/js/core/theme';
	import { onMount } from 'svelte';

	type Theme = {
		name: string;
		value: string;
		untested: boolean;
	};

	export let theme: Theme;
	export let defaultTheme: string;

	let checkedDefault = false;

	onMount(() => {
		if (localStorage.getItem('theme') === theme.value) checkedDefault = true;
		if (!localStorage.getItem('theme') && defaultTheme == theme.value) checkedDefault = true;
	});

	function selectTheme(event: Event) {
		const selectedTheme = (event.target as HTMLInputElement).value;
		setTheme(selectedTheme);
		localStorage.setItem('theme', selectedTheme);
	}
</script>

<div class="theme-item flex justify-between items-center mt-1">
	<label for={theme.value} class="theme-selector-theme cursor-pointer m-0">{theme.name}</label>
	<input
		checked={checkedDefault}
		class="theme-selector-theme-input accent-primary sm:h-5 sm:w-5 h-6 w-6 cursor-pointer"
		type="radio"
		name="theme-selector"
		value={theme.value}
		id={theme.value}
		on:change={selectTheme}
	/>
</div>
