<script lang="ts">
	import { truncate } from '$lib/js/util/truncate';

	export let data: any = [];
	export let index: number = 0;
</script>

{#if data[index]}
	<div class="box-cell flex justify-between" class:text-description={data[index].read}>
		<p class="box-cell-date font-bold min-w-[85px] text-inherit">{data[index].date}</p>
		<div class="cell-name-heading flex flex-col justify-end text-inherit">
			<p class="box-cell-sender-name font-bold self-end text-inherit">{data[index].name}</p>
			<a
				class="box-cell-heading self-end transition text-inherit hover:text-secondary hover:underline"
				href={data[index].link}>{truncate(data[index].description, 25)}</a
			>
		</div>
	</div>
{/if}
