<script lang="ts">
	import type { Writable } from 'svelte/store';
	import Box from '../Box.svelte';

	import DashboardHeading from '../DashboardHeading.svelte';
	import RowContentBox from './RowContentBox.svelte';

	export let title: string = 'Kategorie';
	export let href: string = '/';
	export let icon: any;
	export let loader: Writable<boolean>;
	export let data: any = [
		{
			date: '2021-09-01',
			name: 'John Doe',
			description: 'Example 1',
			link: '/'
		},
		{
			date: '2021-09-02',
			name: 'John Doe',
			description: 'Example 2',
			link: '/'
		},
		{
			date: '2021-09-03',
			name: 'John Doe',
			description: 'Example 3'
			// link: "/",
		},
		{
			date: '2021-09-04',
			name: 'John Doe',
			description: 'Example 4',
			link: '/'
		},
		{
			date: '2021-09-05',
			name: 'John Doe',
			description: 'Example 5',
			link: '/'
		},
		{
			date: '2021-09-06',
			name: 'John Doe',
			description: 'Example 6',
			link: '/'
		},
		{
			date: '2021-09-07',
			name: 'John Doe',
			description: 'Example 7',
			link: '/'
		},
		{
			date: '2021-09-08',
			name: 'John Doe',
			description: 'Example 8',
			link: '/'
		},
		{
			date: '2021-09-09',
			name: 'John Doe',
			description: 'Example 9',
			link: '/'
		},
		{
			date: '2021-09-10',
			name: 'John Doe',
			description: 'Example 10',
			link: '/'
		}
	];

	export let dataEmptyMessage = `No ${title.toLowerCase()}`;

	$: dataEmpty = data.length === 0;
</script>

<Box>
	<DashboardHeading {title} {href} {icon} {loader} />
	<div class="dashboard-box-content">
		{#if dataEmpty && !$loader}
			<p class="dashboard-message">{dataEmptyMessage}</p>
		{/if}
		{#each Array(10) as _, i}
			<RowContentBox {data} index={i} />
		{/each}
		<!-- <p class="dashboard-message">No {title.toLowerCase()}</p> -->
	</div>
</Box>
