<script lang="ts">
	export let data: any = [];
	export let index: number = 0;

	const color = data[index] ? data[index].color || '' : '';
</script>

{#if data[index]}
	<div class="box-row flex justify-between">
		<p class="text-center">{data[index].date}</p>
		<p class="text-center">{data[index].name}</p>
		{#if data[index].link}
			<a
				class={`text-center font-bold transition hover:text-secondary hover:underline ${color}`}
				href={data[index].link}>{data[index].description}</a
			>
		{:else}
			<p class={`text-center font-bold ${color}`}>{data[index].description}</p>
		{/if}
	</div>
{/if}
