<script lang="ts">
	import { setMessageRead } from '$lib/js/api/user/message/messageRead';
	import { deleteMessage } from '$lib/js/api/user/message/delete';
	import ControlButton from './ControlButton.svelte';
	import { deleteCache } from '$lib/js/core/cache';

	import trashIcon from '@iconify/icons-mdi/trash';
	import eyeIcon from '@iconify/icons-mdi/eye';

	export let data: any;

	let messageReadLoader = false;
	let deleteLoader = false;

	async function markMessageRead() {
		messageReadLoader = true;
		const response = await setMessageRead(data.message['id']);

		await deleteCache();

		if (response) data.message['read'] = true;
	}

	async function setDeleteMessage() {
		deleteLoader = true;
		const response = await deleteMessage(data.message['id']);

		await deleteCache();

		if (response) window.history.back();
	}
</script>

<div class="message-control-center flex gap-2 flex-wrap p-1 mt-5">
	<ControlButton
		callback={markMessageRead}
		icon={eyeIcon}
		hidden={data.message['read']}
		loader={messageReadLoader}
		extraButtonClasses={['text-text']}
	/>
	<ControlButton
		callback={setDeleteMessage}
		confirm={true}
		confirmText="Opravdu chcete smazat tuto zprávu?"
		icon={trashIcon}
		text="Smazat zprávu"
		loader={deleteLoader}
		extraButtonClasses={['bg-danger', 'text-black']}
	/>
</div>
