<script lang="ts">
	import Button from '$lib/components/common/Button.svelte';
	import Swal from 'sweetalert2';

	export let callback: () => void;
	export let hidden = false;
	export let loader = false;
	export let confirm = false;
	export let confirmText = 'Chcete pokračovat?';
	export let text = '';
	export let icon: any = null;
	export let extraClasses: any[] = [];
	export let extraButtonClasses: any[] = [];

	function controlButtonCallback() {
		if (confirm) {
			Swal.fire({
				title: 'Jsi si jistý?',
				text: confirmText,
				icon: 'warning',
				confirmButtonText: 'OK',
				showCancelButton: true
			}).then((result) => {
				if (result.isConfirmed) {
					callback();
				}
			});
		} else {
			callback();
		}
	}
</script>

<div class={'flex items-center gap-2 ' + extraClasses.join(' ')} class:hidden>
	<Button
		callback={controlButtonCallback}
		{icon}
		{text}
		extraClasses={extraButtonClasses.join(' ')}
	/>
	<div class="loader" class:hidden={!loader} />
</div>
