<script lang="ts">
	import ContentView from '$lib/components/details/content/ContentView.svelte';
	import Icon from '@iconify/svelte';
	import sanitizeHtml from 'sanitize-html';
	import personIcon from '@iconify/icons-material-symbols/person';
	import downloadIcon from '@iconify/icons-material-symbols/download';
	import ControlButtons from '$lib/components/details/message/ControlButtons.svelte';
	import { convertDateToString } from '$lib/js/core/date';
	import { getAttachment } from './attachment';

	export let data: any = {};
</script>

<svelte:head>
	<title>{data.message['title']}</title>
</svelte:head>

<ContentView>
	<div class="p-2">
		<div class="flex sm:flex-row flex-col items-center justify-center sm:gap-3 gap-0 sm:mb-0 mb-2">
			<h1 class="font-bold underline text-center sm:text-2xl text-3xl items-center">
				{data.message['title']}
			</h1>
			<p class="min-w-[90px]">{convertDateToString(new Date(data.message['sentDate']))}</p>
		</div>
		<div class="flex items-center justify-center gap-1 mb-5">
			<Icon class="sm:text-xl text-2xl text-text" icon={personIcon} />
			<p>{data.message['sender']['name']}</p>
		</div>
		<p class="break-all overflow-x-auto">{@html sanitizeHtml(data.message['text'])}</p>
	</div>
	{#if data.message['attachments'].length != 0}
		<p class="font-bold text-xl mt-5 ml-1">Přílohy</p>
		{#each data.message['attachments'] as attachment}
			<button
				on:click={() => getAttachment(data.message['id'], attachment['id'], attachment['name'])}
				class="flex items-center gap-1 text-black bg-success w-fit p-[6px] mt-2 ml-1 rounded-xl cursor-pointer transition-all hover:bg-secondary hover:text-alttext hover:rounded-2xl"
			>
				<Icon class="sm:text-2xl text-xl" icon={downloadIcon} />
				<p class="text-inherit">{attachment['name']}</p>
			</button>
		{/each}
	{/if}
	<ControlButtons {data} />
</ContentView>
