.login-content-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 200px;
  height: 100%;
}

@media(max-width: 1000px) {
  .login-content-wrapper {
    gap: 100px;
  }
}

@media(max-width: 900px) {
  .login-content-wrapper {
    gap: 20px;
    flex-flow: column wrap;
  }

  .login-title {
    justify-content: center !important;
  }

  .login-about svg {
    width: 100px;
    height: 100px;
  }
}

.login-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  @apply bg-supplement;
  /* background-color: var(--surface-0); */
  border-radius: 50px;
}

.login-about svg {
  @apply text-alttext;
  @apply bg-primary;
  border-radius: 20%;
}

/*container for username and password items*/
.login-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

/*login input items for username and password*/

.login-wrapper input {
  text-align: left;
  text-indent: 10px;
  @apply text-text;
  @apply bg-supplement;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  outline: none;
  font-size: 20pt;
  padding: 3px;
}

/*container for heading, login input, and enter button*/

.login-container{
  display: flex;
  align-items: left;
  flex-flow: column wrap;
  user-select: none;
  width: fit-content;
}

.login-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
}

.login-password-container input, .login-username-container input{
  width: 100%;
}

.login-username-container, .login-password-container{
  display: flex;
  position: relative;
}

.login-password-container input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/*heading*/
.login-container h1{
  font-size: 23pt;
  text-align: left;
}

.login-student {
  font-size: 23pt;
  color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-style: italic;
}

#login-student-first {
  @apply bg-gradient-to-r;
  @apply from-grade2;
  @apply to-grade1;
}

#login-student-second {
  @apply bg-gradient-to-r;
  @apply from-grade1;
  @apply to-grade3;
}

/*enter button to submit username and password*/

.enter input {
  @apply bg-primary;
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  padding: 8px 0;
  @apply text-alttext;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 14pt;
}

/*eye next to the password input*/
#pass {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

.eye-button {
  @apply bg-supplement;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  @apply border-l-2;
  @apply border-solid;
  @apply border-supplement;
  @apply border-l-background;

  width: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.eye-button svg {
  @apply text-text;
}

.login-messages {
  max-width: 400px;
}


@media screen and (max-width: 500px){
  .login-wrapper{
    max-width: 400px;
  }
  
  .login-messages {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px){
  .login-messages {
    max-width: 300px;
  }
  .login-wrapper{
    width: 300px;
  }
  .login-container h1{
    font-size: 16pt;
    text-align: center;
  }

  .login-student {
    font-size: 16pt;
  }
}
@media screen and (max-width: 300px){
  .login-wrapper{
    width: 250px;
  }
}

#qrscan-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 9999;
  width: 700px;
  height: 500px;
  border-radius: 10px;
}

@media(max-width: 700px) {
  #qrscan-content {
    width: 300px;
    height: 400px;
    border: none;
    border-radius: 100px;
  }
}

#sol-url {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  @apply bg-supplement;
  border: none;
  @apply text-text;
}

.loading {
  width: fit-content;
  margin: auto;
  margin-top: 10px !important;
}
