<script lang="ts">
	import SubjectItem from './SubjectItem.svelte';
	import { getDayName } from '$lib/js/core/day';
	import { convertDateToCZ } from '$lib/js/core/date';
	import Grade from './Grade.svelte';
	import TeachingInfo from './TeachingInfo.svelte';

	export let day = 0;
	export let data: any = {};

	const dayName = getDayName(day).substring(0, 2); // get day name from day number and shorten it to 2 letters

	const currentDay = data['days'][day];
	var currentDayEvaluations: any = [];
	var currentDayTeachingInfo: any = [];

	for (let evaluation in Object.keys(currentDay['evaluations'])) {
		currentDayEvaluations.push(currentDay['evaluations'][evaluation]);
	}

	for (let teachingInfo in Object.keys(currentDay['teachingInformations'])) {
		currentDayTeachingInfo.push(currentDay['teachingInformations'][teachingInfo]);
	}

	let schedule = Array(11).fill({});

	if (currentDay) {
		for (let subject in currentDay['schedules']) {
			schedule[currentDay['schedules'][subject]['lessonIdFrom']] = currentDay['schedules'][subject];

			let index = 1;
			const arrayCount =
				Number(currentDay['schedules'][subject]['lessonIdTo']) -
				Number(currentDay['schedules'][subject]['lessonIdFrom']);
			// console.log(arrayCount)

			for (let _ in Array.from(Array(arrayCount).keys())) {
				schedule[Number(currentDay['schedules'][subject]['lessonIdFrom']) + index] =
					currentDay['schedules'][subject];
				index++;
			}
		}

		// console.log(schedule)
	}

	// fake data
	// var currentDayEvaluations = [{ scheduledHourId: "B18494995", lessonId: 5, valueToDisplay: 2 }, { scheduledHourId: "B18494995", lessonId: 5, valueToDisplay: 1 },{ scheduledHourId: "B18494995", lessonId: 5, valueToDisplay: 1 }, { scheduledHourId: "B18494995", lessonId: 5, valueToDisplay: 1 },{ scheduledHourId: "B18494995", lessonId: 5, valueToDisplay: 1 } ]
</script>

<div class="generic-row">
	<div
		class="first-box-days flex flex-col justify-center items-center bg-primary text-alttext rounded-xl w-[70px] h-[70px]"
	>
		<p class="row-day font-bold text-alttext">{dayName}</p>
		{#if currentDay}
			<p class="row-date text-alttext">{convertDateToCZ(currentDay['date'])}</p>
		{/if}
	</div>

	{#each schedule as currentSchedule}
		<div>
			<SubjectItem data={currentSchedule} />
			<!-- <p>1</p> -->
			<div class="flex justify-center flex-wrap gap-2">
				{#each currentDayEvaluations as evaluation}
					{#if evaluation['lessonId'] == currentSchedule['lessonIdFrom'] && evaluation['scheduledHourId'] == currentSchedule['scheduledHourId']}
						<Grade {evaluation} />
					{/if}
					<!-- <p>{evaluation["lessonId"]}</p> -->
				{/each}
				{#each currentDayTeachingInfo as teachingInfo}
					{#if teachingInfo['lessonId'] == currentSchedule['lessonIdFrom']}
						<TeachingInfo {teachingInfo} />
					{/if}
					<!-- <p>{evaluation["lessonId"]}</p> -->
				{/each}
			</div>
		</div>
	{/each}
</div>
