<script lang="ts">
	export let data: any = {};
	let classes = ['subject-item'];

	if (data && Object.keys(data).length != 0) {
		switch (data['hourType']['id']) {
			case 'SKOLNI_AKCE':
				classes.push('bg-grade3');
				break;
			case 'ROZVRH':
				classes.push('bg-secondary', 'border-2', 'border-primary');
				break;
			case 'SUPLOVANI':
				classes.push('bg-substitute');
				break;
			case 'SUPLOVANA':
				classes.push('bg-substitute');
				break;
			default:
				console.log(data['hourType']['id']);
		}
	}
</script>

{#if Object.keys(data).length != 0}
	<a
		href={`/subject/${data['scheduledHourId']}/${data['scheduledHourOrder']}`}
		class={classes.join(' ')}
	>
		<slot />
	</a>
{:else}
	<div class={classes.join(' ')}>
		<slot />
	</div>
{/if}
