<script lang="ts">
	import SubjectItemBox from './SubjectItemBox.svelte';

	export let data: any = {};
</script>

<SubjectItemBox {data}>
	{#if Object.keys(data).length != 0}
		{#if data['hourType']['id'] == 'SKOLNI_AKCE'}
			<p class="font-bold text-background">{data['hourType']['displayName']}</p>

			{#if data['groups'][0]}
				<p class="text-background">{data['groups'][0]['name'].substring(0, 9)}</p>
			{/if}
		{:else}
			{#if data['subject']['abbrev']}
				<p class="font-bold text-alttext">{data['subject']['abbrev']}</p>
			{:else}
				<p class="font-bold text-alttext">{data['subject']['name'].substring(0, 8)}</p>
			{/if}
			{#if data['rooms'][0]}
				<p class="text-alttext">{data['rooms'][0]['abbrev'].substring(0, 8)}</p>
			{/if}
		{/if}
	{/if}
	<!-- <p>{data["subject"]["abbrev"] || "AKCE"}</p> -->
	<!-- <p>{subjectClass}</p> -->
</SubjectItemBox>
