<script lang="ts">
	import ScheduleHover from '$lib/components/common/ScheduleHover.svelte';

	export let teachingInfo: any = {};

	let showTooltip = false;
</script>

<p
	on:mouseenter={() => {
		showTooltip = true;
	}}
	on:mouseleave={() => {
		showTooltip = false;
	}}
	class={'text-background bg-info w-5 h-5 mt-1 font-bold flex justify-center items-center rounded-full cursor-pointer'}
>
	!
</p>

<ScheduleHover
	hidden={!showTooltip}
	title={teachingInfo.information}
	description={teachingInfo.teacherName}
/>
