<script lang="ts">
	import SettingsDetails from '$lib/components/settings/SettingsDetails.svelte';
	import Info from '$lib/components/settings/info/Info.svelte';

	export let data;
</script>

<SettingsDetails>
	<Info {data} />
</SettingsDetails>
