<script lang="ts">
	import SettingsOverview from '$lib/components/settings/SettingsOverview.svelte';
	import SettingsOption from '$lib/components/settings/SettingsOption.svelte';
	import SettingsBreak from '$lib/components/settings/SettingsBreak.svelte';

	import settingsIcon from '@iconify/icons-material-symbols/settings';
	import brushIcon from '@iconify/icons-material-symbols/brush';
	import infoIcon from '@iconify/icons-material-symbols/info';
</script>

<svelte:head>
	<title>Nastavení - reŠOL</title>
</svelte:head>

<SettingsOverview>
	<SettingsOption
		icon={settingsIcon}
		name="Obecné"
		description="Obecné nastavení pro komponenty reŠOLu"
		href="/settings/general"
	/>
	<SettingsBreak />
	<SettingsOption
		icon={brushIcon}
		name="Vzhled"
		description="Změnení motivu"
		href="/settings/appearance"
	/>
	<SettingsBreak />
	<SettingsOption
		icon={infoIcon}
		name="Informace o této instanci"
		description="Verze, caching, OS"
		href="/settings/info"
	/>
</SettingsOverview>
