<script lang="ts">
	import ContentView from '$lib/components/overview/ContentView.svelte';
	import Row from '$lib/components/overview/Row.svelte';
	import { convertDateToString } from '$lib/js/core/date';

	export let data: any = {};

	const subjectMap = new Map();

	for (const subject of data.subjects) {
		subjectMap.set(subject.id, subject.name);
	}
</script>

<svelte:head>
	<title>Zprávy</title>
</svelte:head>

<ContentView>
	{#each data.grades as item, i}
		<Row
			link={`/grade/${item.id}`}
			title={subjectMap.get(item.subjectId)}
			description={item.theme}
			read={item.signedId != null}
			grade={item.markText}
			date={convertDateToString(new Date(item.editDate))}
		/>
		{#if i != data.grades.length - 1}
			<hr class="border-background border-solid border-2 w-full" />
		{/if}
	{/each}
</ContentView>
