<script lang="ts">
	import Icon from '@iconify/svelte';

	export let data: any = {};
	export let name: string;
	export let icon: any;
</script>

<p class="flex min-[340px]:flex-row flex-col gap-2">
	<span class="flex self-start items-center gap-2 h-fit font-bold">
		<Icon class="sm:text-2xl text-3xl" {icon} />
		{name}:
	</span>
	{data}
</p>
