<script lang="ts">
	import HourItem from './HourItem.svelte';
	import GenericRow from './generic/GenericRow.svelte';

	import '$lib/styles/core/schedule.scss';

	export let data: any = [];
</script>

<div class="scroll" data-sveltekit-preload-data="tap">
	<div class="schedule-container">
		<div id="schedule">
			<div class="generic-row first-row">
				<div class="first-box-empty" />
				{#each Array(11) as _, subjectNumber}
					<HourItem {subjectNumber} data={data['schedule']} />
				{/each}
			</div>
			{#each Array(5) as _, dayIndex}
				<GenericRow day={dayIndex} data={data['schedule']} />
			{/each}
		</div>
	</div>
</div>
