<script lang="ts">
	import Icon from '@iconify/svelte';
	import Button from '../common/Button.svelte';

	export let callback: any;
	export let title = 'Button';
	export let description = '';
	export let buttonText = 'Button';
	export let icon: any;

	let callbackMessage = '';
	let loader = false;

	async function runCallback() {
		loader = true;
		callbackMessage = '';

		try {
			await callback();
		} catch (error: Error) {
			callbackMessage = error.message;
			loader = false;
			return;
		}

		loader = false;
		callbackMessage = 'Hotovo';
	}
</script>

<div class="flex items-center justify-between">
	<div class="flex gap-2 items-center">
		<Icon {icon} class="text-xl text-text" />
		<div>
			<p class="font-bold">{title}</p>
			<p class="text-description text-sm">{description}</p>
		</div>
	</div>
	<div class="flex items-center gap-5">
		<div class="loader" class:hidden={!loader} />
		<Button
			callback={runCallback}
			extraClasses="sm:text-sm text-lg bg-secondary"
			text={buttonText}
		/>
	</div>
</div>
<p class="text-base">{callbackMessage}</p>
