<script lang="ts">
	import { showSettingsBackArrow } from '$lib/stores/settings/general/backarrow';

	const backText = '< Zpátky';
</script>

<div class="sm:text-base text-xl m-auto sm:w-7/12 w-full">
	{#if localStorage.getItem('backarrow') == null || localStorage.getItem('backarrow') == 'true' || $showSettingsBackArrow}
		<button on:click={() => window.history.back()} class="text-text font-bold mb-2"
			>{backText}</button
		>
	{/if}
	<slot />
</div>
