<script lang="ts">
	import Icon from '@iconify/svelte';
	import { empty } from '$lib/stores/empty';
	import type { Writable } from 'svelte/store';

	export let setting: string;
	export let store: Writable<boolean> = empty;
	export let defaultValue: boolean;
	export let refreshNeeded = false;
	export let title = 'Button';
	export let description = '';
	export let icon: any;

	let checked: any = localStorage.getItem(setting)
		? localStorage.getItem(setting) == 'true'
		: defaultValue;

	let firstChanged = true;
	$: {
		localStorage.setItem(setting, checked);

		if (refreshNeeded && !firstChanged) {
			location.reload();
		}

		firstChanged = false;
	}

	$: $store = checked;
</script>

<div class="flex items-center justify-between">
	<div class="flex gap-2 items-center">
		<Icon {icon} class="text-xl text-text" />
		<div>
			<p class="font-bold">{title}</p>
			<p class="text-description text-sm">{description}</p>
		</div>
	</div>
	<label class="switch">
		<input bind:checked type="checkbox" />
		<span class="slider round" />
	</label>
</div>

<style lang="scss">
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 25px;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	.slider:before {
		position: absolute;
		content: '';
		height: 18px;
		width: 18px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #2196f3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>
