<script lang="ts">
	import Cell from './types/Cell.svelte';
	import Row from './types/Row.svelte';

	// Icons
	import gradeIcon from '@iconify/icons-material-symbols/grade';
	import baselineMessage from '@iconify/icons-ic/baseline-message';
	import roundHomeWork from '@iconify/icons-ic/round-home-work';
	import calendarIcon from '@iconify/icons-mdi/calendar';
	import warningIcon from '@iconify/icons-material-symbols/warning';

	// Loading statuses
	import {
		behaviorLoading,
		eventsLoading,
		gradesLoading,
		homeworkLoading,
		messagesLoading
	} from '$lib/js/misc/loaders/store';

	export let data: any = {};
</script>

<div>
	<div class="flex flex-wrap justify-center gap-10 mt-10 mb-10">
		{#await data.messages}
			hey
		{:then messages}
			<Cell
				title="Zprávy"
				href="/messages"
				icon={baselineMessage}
				loader={messagesLoading}
				data={messages}
				dataEmptyMessage="Nebyly nalezeny žádné zprávy"
			/>
		{/await}
		{#await data.grades then grades}
			<Row
				title="Známky"
				href="/grades"
				icon={gradeIcon}
				loader={gradesLoading}
				data={grades}
				dataEmptyMessage="Nebyly nalezeny žádné známky"
			/>
		{/await}
		{#await data.homework then homework}
			<Cell
				title="Domácí úkoly"
				href="/homework"
				icon={roundHomeWork}
				loader={homeworkLoading}
				data={homework}
				dataEmptyMessage="Nebyly nalezeny žádné domácí úkoly"
			/>
		{/await}
		{#await data.events then events}
			<Row
				title="Akce"
				href="/events"
				icon={calendarIcon}
				loader={eventsLoading}
				dataEmptyMessage="Pro tento týden nebyly nalezeny žádné akce"
			/>
		{/await}
		{#await data.behavior then behavior}
			<Cell
				title="Výchovná opatření"
				href="/behavior"
				icon={warningIcon}
				loader={behaviorLoading}
				data={behavior}
				dataEmptyMessage="Nebyly nalezeny žádné poznámky"
			/>
		{/await}
	</div>
</div>
