@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./lib/styles/misc/loader.scss";
@import "./lib/styles/core/grid.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply global styles to the entire page */
html, body {
  font-family: 'Noto Sans', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

body {
  @apply bg-background;
}

p, a, button, h1, h2, h3, h4, h5 {
  @apply text-text;
}
