<script lang="ts">
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';
	import { fetchResource } from '$lib/js/api/fetch';
	import { getAPIUrlFromStorage } from '$lib/js/api/getUrl';

	import resol from '$lib/assets/favicon.png';

	type JsonData = {
		homepage: string;
		instance: string;
		softwareDescription: string;
	};

	export let data: JsonData;
	let realtimeData: any;
	onMount(async () => {
		const sse = new EventSource(`${await getAPIUrlFromStorage()}/sse/resol/info`);
		sse.onmessage = (event) => {
			realtimeData = JSON.parse(event.data);
		};
	});
</script>

{#if !data}
	<div class="loader" />
{/if}

{#key data}
	<div class="text-text mt-3">
		{#if data}
			<img src={resol} class="w-20 h-20 rounded-full mb-2 m-auto" />
			<h1 class="sm:text-2xl text-3xl text-center font-bold">{data['instance']['name']}</h1>
			<p>{data['softwareDescription']}</p>
			<p class="mt-2">Verze serveru: {data['version']}</p>
			<p>Používá caching: {data['instance']['redis']}</p>

			<details
				class="mt-3"
				class:hidden={data['instance']['serverDetails'] == null}
				id="server-details"
			>
				<summary>Podrobnější informace</summary>
				<p>Typ OS: {data['instance']['serverDetails']['osType']}</p>

				{#if realtimeData}
					<div>
						<p>Zátěž procesoru: {realtimeData['chunk']['cpuLoad'].toFixed(2)}%</p>
						<p>Uptime: {realtimeData['chunk']['serverDetails']['osUptime']}</p>
					</div>
				{:else}
					<div class="mt-2 loader" />
				{/if}
			</details>
		{/if}
	</div>
{/key}
