<script lang="ts">
	import { errors } from '$lib/js/api/errors/store';

	$: {
		if ($errors.length > 5) {
			$errors.shift();
		}
	}
</script>

<div class="errors">
	{#each $errors as error}
		<button
			on:click={() => {
				$errors.pop();
				$errors = $errors;
			}}
			class="error m-auto mb-2 pl-4 pr-4 p-2 rounded-full w-fit bg-grade5 text-alttext"
		>
			<p>{error}</p>
		</button>
	{/each}
</div>

<style lang="scss">
	// create an animation for error bubbles that are on the top of the screen that the first they are not seen by the user and then after 0.5s slides
	// down to the top of the screen
	@keyframes slideDown {
		0% {
			transform: translateY(-100%);
		}
		100% {
			transform: translateY(0);
		}
	}

	.errors {
		position: fixed;
		top: 15px;
		left: 0;
		width: 100%;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.error {
		animation: slideDown 0.3s ease-in-out;
	}
</style>
