<script lang="ts">
	import '$lib/styles/core/layout/header.scss';
	import '$lib/styles/core/layout/navbar.scss';

	import { showHamburgerView } from '$lib/js/core/header/hamburger';

	// import headerIcon from $lib/assets folder
	import headerIcon from '$lib/assets/resol-header.webp';

	// import username and userClass from $lib/js/auth/store
	import { username, userClass } from '$lib/js/auth/store';

	// import logout function
	import { logout } from '$lib/js/auth/logout';

	// import a-hover
	import '$lib/styles/misc/a-hover.scss';

	import Icon from '@iconify/svelte';
	import settingsIcon from '@iconify/icons-material-symbols/settings';
	import logoutIcon from '@iconify/icons-material-symbols/logout';
	import { isLoggedIn } from '$lib/js/auth/loggedIn';
	import { loggedIn } from '$lib/js/auth/store';

	let logoHref: string;

	function defineLogoHref() {
		if (isLoggedIn()) {
			logoHref = '/';
		} else {
			logoHref = '/login';
		}
	}

	defineLogoHref();
	onNavigate(() => defineLogoHref());

	import { navigating } from '$app/stores';
	import { onNavigate } from '$app/navigation';

	$: if ($navigating) {
		if (document.querySelector('.hamburger').classList.contains('active')) {
			// hide hamburger view when navigating
			showHamburgerView();
		}
	}
</script>

<div class="header">
	<a href={logoHref}><img class="logo" src={headerIcon} alt="resol logo" /></a>
	{#if $loggedIn}
		<ul class="nav-menu">
			<li class="nav-item"><a class="a-hover nav-link header-hover" href="/messages">Zprávy</a></li>
			<input type="checkbox" id="dropdown-input" />
			<div class="dropdown">
				<li class="nav-item">
					<label for="dropdown-input">
						<p class="a-hover nav-link header-hover plus-minus">Hodnocení</p></label
					>
				</li>
				<div class="dropdown-content">
					<a id="dropdown-item-1" href="/grades">průběžné</a>
					<a id="dropdown-item-2" href="/grades-subject">v předmětech</a>
					<a id="dropdown-item-3" href="/final-grades">vysvědčení</a>
				</div>
			</div>
			<li class="nav-item"><a class="a-hover nav-link header-hover" href="/homework">Úkoly</a></li>
			<li class="nav-item">
				<a class="a-hover nav-link header-hover" href="/behavior">Chování</a>
			</li>
			<div class="mobile-items">
				<a class="mobile-item" id="mobile-settings" href="/settings"
					><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="m9.25 22l-.4-3.2q-.325-.125-.613-.3t-.562-.375L4.7 19.375l-2.75-4.75l2.575-1.95Q4.5 12.5 4.5 12.337v-.674q0-.163.025-.338L1.95 9.375l2.75-4.75l2.975 1.25q.275-.2.575-.375t.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3t.562.375l2.975-1.25l2.75 4.75l-2.575 1.95q.025.175.025.338v.674q0 .163-.05.338l2.575 1.95l-2.75 4.75l-2.95-1.25q-.275.2-.575.375t-.6.3l-.4 3.2h-5.5Zm2.8-6.5q1.45 0 2.475-1.025T15.55 12q0-1.45-1.025-2.475T12.05 8.5q-1.475 0-2.488 1.025T8.55 12q0 1.45 1.012 2.475T12.05 15.5Z"
						/></svg
					>Nastavení</a
				>
				<a class="mobile-item" id="mobile-logout" on:click={logout}
					><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
						><path
							class="text-grade5"
							fill="currentColor"
							d="M5 21q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h7v2H5v14h7v2H5Zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5l-5 5Z"
						/></svg
					>Odhlásit se</a
				>
			</div>
		</ul>
		<div class="leading-normal w-max flex flex-col items-center text-center mr-2">
			<p class="w-max font-bold text-alttext">
				{$username}
			</p>
			<p class="w-max text-alttext">
				{$userClass}
			</p>
		</div>
		<ul class="header-icons">
			<li class="header-icon">
				<a class="settings" href="/settings"
					><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"
						><path
							class="text-alttext"
							fill="currentColor"
							d="m9.25 22l-.4-3.2q-.325-.125-.613-.3t-.562-.375L4.7 19.375l-2.75-4.75l2.575-1.95Q4.5 12.5 4.5 12.337v-.674q0-.163.025-.338L1.95 9.375l2.75-4.75l2.975 1.25q.275-.2.575-.375t.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3t.562.375l2.975-1.25l2.75 4.75l-2.575 1.95q.025.175.025.338v.674q0 .163-.05.338l2.575 1.95l-2.75 4.75l-2.95-1.25q-.275.2-.575.375t-.6.3l-.4 3.2h-5.5Zm2.8-6.5q1.45 0 2.475-1.025T15.55 12q0-1.45-1.025-2.475T12.05 8.5q-1.475 0-2.488 1.025T8.55 12q0 1.45 1.012 2.475T12.05 15.5Z"
						/></svg
					></a
				>
			</li>
			<li class="header-icon" id="logout">
				<svg
					on:click={logout}
					xmlns="http://www.w3.org/2000/svg"
					width="48"
					height="48"
					viewBox="0 0 24 24"
					><path
						class="text-alttext"
						fill="currentColor"
						d="M5 21q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h7v2H5v14h7v2H5Zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5l-5 5Z"
					/></svg
				>
			</li>
		</ul>
		<span on:click|trusted={() => showHamburgerView()} role="menu" tabindex="0" class="hamburger">
			<span class="bar" />
			<span class="bar" />
			<span class="bar" />
		</span>
	{/if}
</div>
