<script lang="ts">
	import { username as fullName, userClass } from '$lib/js/auth/store';
	import { fetchResource } from '$lib/js/api/fetch';

	import '$lib/styles/core/login/login.scss';

	let username = '';
	let password = '';
	let solUrl = 'https://aplikace.skolaonline.cz'; // default value

	let loginLoading = false;
	let errorMsg = '';
	let successMsg = '';

	let showPassword = false;

	function toggleShowPassword() {
		showPassword = !showPassword;
	}

	import { loggedIn } from '$lib/js/auth/store';
	import { goto } from '$app/navigation';

	async function verifyAuth(username: string, password: string, solUrl: string) {
		loginLoading = true;
		errorMsg = '';

		const response = await fetchResource(
			`verify`,
			{
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
					Authorization: `Basic ${btoa(`${username}:${password}`)}`,
					'sol-url': solUrl
				}
			},
			{
				// do nothing
				errorCallback: () => {
					/**/
				}
			}
		);

		const json = await response.json();
		loginLoading = false;

		if (json['error']) {
			errorMsg = json['message'];
		} else {
			successMsg = 'Přihlášení proběhlo úspěšně! Získávání dat uživatele..';
			localStorage.setItem('authHeader', `Basic ${btoa(`${username}:${password}`)}`);
			localStorage.setItem('solUrl', solUrl);

			const userResponse = await fetchResource(`user`, {
				method: 'GET',
				headers: {
					Authorization: localStorage.getItem('authHeader'),
					'sol-url': '{solUrl}'
				}
			});

			const userJson = await userResponse.json();
			localStorage.setItem('fullName', userJson['fullName']);
			localStorage.setItem('studentId', userJson['personID']);
			localStorage.setItem('semesterId', userJson['schoolYearId']);
			localStorage.setItem('userTypeText', userJson['userTypeText']);

			fullName.set(userJson['fullName']);
			userClass.set(userJson['userTypeText']);

			loggedIn.set(true);

			setTimeout(() => {
				goto('/');
			}, 0);
		}
	}
</script>

<svelte:head>
	<title>Přihlášení</title>
</svelte:head>

<div class="login-content-wrapper">
	<div class="login-about">
		<svg
			width="250.0px"
			height="250.0px"
			viewBox="0 0 500.0 500.0"
			id="SVGRoot"
			xml:space="preserve"
			><sodipodi:namedview id="namedview103" pagecolor="#24273a" showguides="true"
				><inkscape:grid type="xygrid" id="grid109" /></sodipodi:namedview
			><defs id="defs98" /><g id="layer"
				><path
					style="opacity:1;fill:none;fill-opacity:1;stroke:currentColor;stroke-width:21.274;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;stroke-linejoin:round;stroke-linecap:round"
					class="text-alttext"
					d="M 118.8591,235.52091 V 372.54723 H 379.56142 V 235.65994 h 18.16943 L 249.39358,104.77592 100.45007,235.05873 Z"
					id="path4819"
				/><g
					style="fill:none"
					id="g274"
					transform="matrix(21.274222,0,0,21.274222,-27.085563,-59.05814)"
					><path
						class="text-alttext"
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="m 12.642245,11.103374 c 0.267456,0.04927 0.444305,0.306025 0.395061,0.573481 L 12.77681,13.09083 h 1.175631 l 0.293325,-1.592389 c 0.04928,-0.267458 0.30603,-0.444335 0.573486,-0.395067 0.267456,0.04927 0.444338,0.306025 0.395062,0.573481 L 14.95385,13.09083 h 1.408945 c 0.271986,0 0.492432,0.220465 0.492432,0.492422 0,0.271957 -0.220446,0.492421 -0.492432,0.492421 h -1.590356 l -0.353304,1.917847 h 1.399425 c 0.271953,0 0.492398,0.220478 0.492398,0.492432 0,0.271953 -0.220445,0.492432 -0.492398,0.492432 h -1.580837 l -0.293325,1.592359 c -0.04928,0.267456 -0.30603,0.444338 -0.573486,0.395094 -0.267456,-0.04928 -0.444337,-0.30603 -0.395061,-0.573485 l 0.260463,-1.413968 H 12.0607 l -0.293335,1.592359 c -0.04927,0.267456 -0.306023,0.444338 -0.573483,0.395094 -0.267455,-0.04928 -0.44433,-0.30603 -0.395064,-0.573485 l 0.26047,-1.413968 H 9.4689077 c -0.2719571,0 -0.4924217,-0.220479 -0.4924217,-0.492432 0,-0.271954 0.2204646,-0.492432 0.4924217,-0.492432 h 1.7717983 l 0.353287,-1.917847 h -1.399412 c -0.2719567,0 -0.4924217,-0.220464 -0.4924217,-0.492421 0,-0.271957 0.220465,-0.492422 0.4924217,-0.492422 h 1.580834 l 0.293331,-1.592389 c 0.04927,-0.267458 0.306043,-0.444335 0.573499,-0.395067 z m -0.04684,2.972299 -0.35328,1.917847 h 1.175608 l 0.353303,-1.917847 z"
						fill="currentColor"
						id="path266"
						style="stroke-width:0.328288;fill:currentColor;fill-opacity:1"
					/></g
				></g
			><metadata id="metadata1351"
				><rdf:RDF
					><cc:Work rdf:about=""
						><cc:license rdf:resource="https://www.gnu.org/licenses/gpl-3.0.txt" /></cc:Work
					></rdf:RDF
				></metadata
			>
		</svg>
	</div>
	<div class="login-container text-text">
		<div class="login-title text-text">
			<h1>
				Od <span id="login-student-first" class="login-student">studentů</span> pro
				<span id="login-student-second" class="login-student">studenty</span>
			</h1>
		</div>
		<div class="login-wrapper">
			<select name="sol-url" id="sol-url" bind:value={solUrl}>
				<option value="https://aplikace.skolaonline.cz">aplikace.skolaonline.cz</option>
				<option value="https://skola.plzen-edu.cz">skola.plzen-edu.cz</option>
				<option value="https://aplikace.dmsoftware.cz">aplikace.dmsoftware.cz</option>
				<option value="https://re-sol.tech">Demo pro neregistrované uživatele / rozbité</option>
				<option value="custom">Jiná doména</option>
			</select>
			<input style="display: none" type="url" placeholder="skola.plzen-edu.cz" id="custom-url" />
			<div id="login-username-container" class="login-username-container">
				<input
					type="text"
					spellcheck="false"
					placeholder="Uživ. jméno"
					id="user"
					name="username"
					bind:value={username}
				/>
			</div>
			<div id="login-password-container" class="login-password-container">
				{#if showPassword}
					<input type="text" placeholder="Heslo" bind:value={password} />
				{:else}
					<input type="password" placeholder="Heslo" bind:value={password} />
				{/if}
				<button on:click={toggleShowPassword} class="eye-button" id="eye-button">
					{#if !showPassword}
						<svg
							id="eye-icon-crossed"
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							viewBox="0 0 32 32"
							><path
								fill="currentColor"
								d="M30.94 15.66a16.4 16.4 0 0 0-5.73-7.45L30 3.41L28.59 2L2 28.59L3.41 30l5.1-5.09A15.38 15.38 0 0 0 16 27a16.69 16.69 0 0 0 14.94-10.66a1 1 0 0 0 0-.68zM16 22.5a6.46 6.46 0 0 1-3.83-1.26L14 19.43A4 4 0 0 0 19.43 14l1.81-1.81A6.49 6.49 0 0 1 16 22.5zm-11.47-.69l5-5A6.84 6.84 0 0 1 9.5 16A6.51 6.51 0 0 1 16 9.5a6.84 6.84 0 0 1 .79.05l3.78-3.77A14.39 14.39 0 0 0 16 5A16.69 16.69 0 0 0 1.06 15.66a1 1 0 0 0 0 .68a15.86 15.86 0 0 0 3.47 5.47z"
							/></svg
						>
					{:else}
						<svg
							id="eye-icon-not-crossed"
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							viewBox="0 0 32 32"
							><circle cx="16" cy="16" r="4" fill="currentColor" /><path
								fill="currentColor"
								d="M30.94 15.66A16.69 16.69 0 0 0 16 5A16.69 16.69 0 0 0 1.06 15.66a1 1 0 0 0 0 .68A16.69 16.69 0 0 0 16 27a16.69 16.69 0 0 0 14.94-10.66a1 1 0 0 0 0-.68ZM16 22.5a6.5 6.5 0 1 1 6.5-6.5a6.51 6.51 0 0 1-6.5 6.5Z"
							/></svg
						>
					{/if}
				</button>
			</div>
			<div class="enter" id="enter enter-container">
				<input
					id="enter-input"
					type="submit"
					value="Přihlásit se"
					on:click={() => verifyAuth(username, password, solUrl)}
				/>
			</div>
			<p class="text-bold text-grade1">{successMsg}</p>
			<p class="text-bold text-grade5">{errorMsg}</p>
		</div>
		<div class="loading flex gap-2">
			<div class:hidden={!loginLoading} class="loader" id="login-loader" />
			<p class:hidden={!loginLoading} class="pwd-message" id="pwd-loading">Probíhá verifikace..</p>
		</div>
	</div>
</div>
